#divPost,
#divLinks {
  font-family: arial;
}

#divPost h1 a {
  text-decoration: none;
}

#divLinks img {
  float: left;
  height: 50px;
  width: 50px;
  padding-right: 4px;
}

.entry {
  min-height: 65px;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.subEntry {
  font-size: 12px;
}

